<md-toolbar color="primary">
  <span>
    Angular Demo
  </span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav opened="true" mode="side" disableClose="true">
    <md-nav-list>
      <a [routerLink]="['/']" md-list-item>Introduction</a>
      <a [routerLink]="['/hello-world']" md-list-item>Hello World</a>
      <a [routerLink]="['/interpolation']" md-list-item>Interpolation</a>
      <a [routerLink]="['/events']" md-list-item>Events</a>
    </md-nav-list>
  </md-sidenav>

  <main id="main-content">
    <router-outlet></router-outlet>
  </main>
</md-sidenav-container>


